.blogs_parent{
    padding: 80px 0px;
      background: linear-gradient(to right, rgba(255, 230, 202, 0.443), #ffffff);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(var(--unit) + 5px);

     
      

        span{
            font-size: 80px;
            color: var(--accent2);
        }

        h1{
            font-size: 40px;
        }

        p{
            max-width: 60ch;
            text-align: center;
            line-height: 140%;
        }


      .blogs_list{
        width: 100%;
        height: 100%;
        padding-top: 40px;

        .mySwiper{
            width: 100%;
            height: 100%;

            .swiper-slide{
                height: 300px;
                .image
                {
                    width: 100%;
                    height: 100%;
                    background-image: url("../../assets/PRD1.png");
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;

                    .content{
                        padding: 20px;
                        background-color: rgba(255, 255, 255, 0.37);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        width: fit-content;
                        gap: var(--unit);

                        p{
                            background-color: #c4b098;
                            color: black;
                            width: auto;
                            padding: 10px;
                        }

                        h1{
                            font-size: 16px;
                            max-width: 40ch;
                        }
                    }
                }
            }
        }
      }

}