.collection_parent {
  padding: 80px 0px;
  background: linear-gradient(to right, rgba(255, 230, 202, 0.443), #ffffff);

  .collection_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--unit);

    .left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: var(--unit);

      .sec_indi {
        letter-spacing: 5px;
        color: var(--accent2);
      }

      h1 {
        font-size: 60px;
        line-height: 100%;
        color: rgb(53, 53, 53);
      }

      p {
        line-height: 140%;
      }
    }

    .right {
      width: 60%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: var(--unit);

      .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--unit);
        width: calc(100% / 3 - var(--unit));
        cursor: pointer;

        &:hover{
            .image{
                .eye{
                    
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }

        .image {
          width: 100%;
          aspect-ratio: 1;
          background-image: url("../../assets/PRD1.png");
          display: flex;
          justify-content: center;
          align-items: center;

          .eye {
            width: 40px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.492);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transform: translateY(20px);
            transition: var(--trans);
            

            svg {
              color: var(--black);
            }
          }

          &.image2 {
            background-image: url("../../assets/PRD2.png");
          }
          &.image3 {
            background-image: url("../../assets/PRD3.png");
          }
        }

        h4 {
          font-size: 24px;
        }
      }
    }
  }
}


@media only screen and (max-width:1000px) {
.collection_parent{
    .collection_cont{
       flex-direction: column;

       .left{
        width: 100%;
       }
       .right{
        width: 100%;
       }
    }
}
}

@media only screen and (max-width:500px){
    .collection_parent{
    .collection_cont{

        .left{
            h1{
                font-size: 40px;
            }
        }
       

     .right{
        // flex-wrap: wrap !important;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .card{
            width: 100%;
        }
     }
      
    }
}
}